.carousel-item-height {
    max-height: 500px;
    .carousel-caption {
        color: white;
        font-weight: bold;
    }
}

.highligth-card {
    border: 2px black solid;
    box-shadow: 10px 10px #c3c3c3;
    img {
        height: 300px;
    }
}

.horizontal-body {
    display: inline-block !important;
}

.gray-company {
    background-color: burlywood;
}

@media screen and (max-width:557px) {
    .mb-xs-3-custom {
        margin-bottom: 1.5rem;
    }
}