.logo {
    width: 70px;
}

.btn-company {
    background-color: yellow;
    color: black;
    &:hover {
        background-color: yellowgreen;
    }
}

.carousel-item-height {
    max-height: 500px;
    .carousel-caption {
        color: white;
        font-weight: bold;
    }
}